<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./uk/css/uikit.css">
    <script type="text/javascript" src="./uk/js/uikit.min.js"></script>
    <script type="text/javascript" src="./uk/js/uikit-icons.min.js"></script>
    <title>Groupe dl sante</title>
</head>

<body>
    <div id="app">
        <div class="uk-alert-danger" uk-alert v-if="message">
            <a class="uk-alert-close" uk-close></a>
            <p>
                {{message}}
            </p>
        </div>

        <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
            <div class="uk-width-1-1">
                <div class="uk-container">
                    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                        <div class="uk-width-1-1@m">

                            <form
                                class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                                <ul class="uk-tab uk-flex-center" uk-grid uk-switcher="animation: uk-animation-fade">
                                    <li><a href="#">S'enregistrer</a></li>
                                    <li><a href="#">Se connecter</a></li>
                                </ul>
                                <ul class="uk-switcher uk-margin">
                                    <li>
                                        <h3 class="uk-card-title uk-text-center">Création de votre garage...</h3>
                                        <form>
                                            <div class="uk-margin">
                                                <div class="uk-inline uk-width-1-1">
                                                    <span class="uk-form-icon" uk-icon="icon:user"></span>
                                                    <input class="uk-input uk-form-large" type="text"
                                                        v-model="newUser.username" placeholder="Nom">
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <div class="uk-inline uk-width-1-1">
                                                    <span class="uk-form-icon" uk-icon="icon:mail"></span>
                                                    <input class="uk-input uk-form-large" type="mail"
                                                        v-model="newUser.firstname" placeholder="E-mail">
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <div class="uk-inline uk-width-1-1">
                                                    <span class="uk-form-icon" uk-icon="icon:lock"></span>
                                                    <input class="uk-input uk-form-large" type="password"
                                                        v-model="newUser.password" placeholder="Mot de passe">
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <button @click='addUser()' class="uk-button uk-button-primary uk-button-large
                                                    uk-width-1-1">S'enregistrer</button>
                                            </div>
                                            <div class="uk-text-small uk-text-center">
                                                Vous avez déjà un compte ? <a href="#"
                                                    @click="newUser.firstname='';newUser.password='';newUser.username='';"
                                                    uk-switcher-item="1">Se
                                                    connecter</a>
                                            </div>
                                        </form>
                                    </li>
                                    <li>
                                        <h3 class="uk-card-title uk-text-center">Visualiser votre garage...</h3>
                                        <form>
                                            <div class="uk-margin">
                                                <div class="uk-inline uk-width-1-1">
                                                    <span class="uk-form-icon" uk-icon="icon:user"></span>
                                                    <input class="uk-input uk-form-large" type="text" placeholder="Nom"
                                                        v-model="user.username">
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <div class="uk-inline uk-width-1-1">
                                                    <span class="uk-form-icon" uk-icon="icon:lock"></span>
                                                    <input class="uk-input uk-form-large" v-model="user.password"
                                                        type="password" placeholder="Mot de passe">
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <button @click.prevent='userConnect()'
                                                    class="uk-button uk-button-primary uk-button-large uk-width-1-1">Se
                                                    connecter</button>
                                            </div>
                                            <div class="uk-text-small uk-text-centers">
                                                Vous n'avez pas encore de compte ? <a href="#" uk-switcher-item="0"
                                                    @click="user.password='';user.username='';">
                                                    Créer un compte</a>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: "",
                newUser: {
                    username: "",
                    password: "",
                    firstname: ""
                },
                user: {
                    username: "",
                    password: "",
                },
                title: 'login',
            },
            methods: {
                addUser: function () {
                    var formData = app.toFormData(app.newUser);
                    axios.post("http://localhost/labo/axios.php?request=adduser", formData)
                        .then(function (response) {
                            app.newUser = {
                                username: "",
                                password: "",
                                firstname: ""
                            };
                            if (response.data.error) {
                                message: 'Echec de la création du compte';
                            }
                            else {
                                message: 'Reussite de la création du compte';
                                sleep(3);
                                header('Location: home.html');
                            }
                        });
                },
                userConnect: function () {
                    var formData = app.toFormData(app.newUser);
                    axios.post("http://localhost/labo/axios.php?request=updateuser", formData)
                        .then(function (response) {
                            app.newUser = {
                                username: "",
                                password: "",
                                firstname: ""
                            };
                            if (response.data.error) {
                                message: 'Echec de la connexion au compte';
                            }
                            else {
                                message: 'Reussite de la connexion au compte';
                                sleep(3);
                                header('Location: home.html');
                            }
                        });
                },
            },
        });
    </script>
</body>

</html>